
html {
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(235, 21%, 11%);
}

.container {
    width: 20px;
    height: 20px;
    background-color: hsl(237, 14%, 26%);
    border: 1px solid hsl(234, 11%, 52%);
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 20px;
}

.checkmark-blue {
    background: linear-gradient(45deg, rgba(192, 88, 243), rgba(87, 221, 255));
}

.font-2 {
    color: hsl(234, 11%, 52%);
    font-size: 16px;
}

html.light,
    .light .container,
    .light .todo-1,
    .light .todo-2,
    .light .greybox {
        background-color: white;
    }



/* strikethrough/checkmark effect */
.linethrough {
    text-decoration: line-through;
}

.rainbow {
    background: linear-gradient(45deg, rgba(192, 88, 243), rgba(87, 221, 255));
}

.checkmarkeazy {
    background-image: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-check.svg');
    background-repeat: no-repeat;
}













@media (min-width: 1440px) and (max-width: 2000px) {
    html {
        font-family: 'Josefin Sans', sans-serif;
        background-color: hsl(235, 21%, 11%);
    }

    body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-desktop-dark.jpg') no-repeat;
        background-size: 100% auto;
        width: 2000px;
        height: 200px;
        font-weight: 500;
        line-height: 16px;
        overflow-x: hidden;
    }

    .light body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-desktop-light.jpg') no-repeat;
        background-size: 100% auto;
    }

    h1 {
        color: white;
        letter-spacing: 12px;
        font-size: 40px;
    }

    .sun {
        position: relative;
        left: 600px;
        top: 70px;
    }

    .darkimage {
        display: none;
    }

    .theme-switch {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-sun.svg') no-repeat;
        display: block;
        height: 30px;
        position: relative;
        left: 370px;
        bottom: 40px;
    }

    .light .theme-switch {
        background-image: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-moon.svg');
        background-repeat: no-repeat;
    }

    .font {
        color: hsl(236, 33%, 92%);
        position: relative;
        left: 35px;
        bottom: 3px;
    }

    .todo-1 {
        position: relative;
        top: 60px;
        left: 600px;
    }

    .todo-1,
    .todo-2 {
        background-color: hsl(237, 14%, 26%);
        width: 400px;
    }

    /* Checkmark positioning */
    #active-1,
    #checkmark-active-2,
    #checkmark-active-3,
    #checkmark-active-4,
    #checkmark-active-5,
    #checkmark-active-6 {
        position: relative;
        top: 6px;
        left: 4px;
    }

    .todos {
        display: flex;
    }

    .greybox {
        background-color: hsl(237, 14%, 26%);
        width: 400px;
    }

    .app-list {
        position: relative;
        top: 90px;
        left: 600px;
    }

    .x {
        position: relative;
        top: 10px;
        left: 90px;
        height: 25px;
    }

    .x-2 {
        position: relative;
        top: 10px;
        left: 170px;
        height: 25px;
    }

    .x-3 {
        position: relative;
        top: 10px;
        left: 175px;
        height: 25px;
    }

    .x-4 {
        position: relative;
        top: 10px;
        left: 220px;
        height: 25px;
    }

    .x-5 {
        position: relative;
        top: 10px;
        left: 207px;
        height: 25px;
    }

    .x-6 {
        position: relative;
        top: 10px;
        left: 50px;
        height: 25px;
    }

    .font-2 {
        font-size: 12px;
        position: relative;
        left: 20px;
    }

    .new-filter-bar {
        display: flex;
        color: hsl(236, 33%, 92%);
        font-size: 12px;
        position: relative;
        left: 80px;
    }

    .new-filter-bar p {
        margin-right: 5px;
    }

    .filter-bar {
        display: none;
    }

    #list-completion-2 {
        position: relative;
        left: 120px;
    }

    .drag-and-drop {
        position: relative;
        top: 150px;
        left: 700px;
    }
}









@media (min-width: 768px) and (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-desktop-dark.jpg') top left no-repeat;
        background-size: 100% auto;
        width: 1024px;
        font-weight: 400;
        line-height: 16px;
    }

    .light body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-desktop-light.jpg') no-repeat;
        background-size: 100% auto;
    }

    h1 {
        letter-spacing: 10px;
        font-size: 36px;
    }

    .darkimage {
        display: none;
    }

    .theme-switch {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-sun.svg') no-repeat;
        display: block;
        height: 30px;
        position: relative;
        left: 370px;
        bottom: 40px;
    }

    .light .theme-switch {
        background-image: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-moon.svg');
        background-repeat: no-repeat;
        position: relative;
    }

    .sun {
        position: relative;
        left: 330px;
        top: 70px;
    }

    .theme-switch {
        width: 32px;
    }
    
    h1 {
        color: white;
    }

    /* checkmark positioning */
    #checkmark-active-1,
    #checkmark-active-2,
    #checkmark-active-3,
    #checkmark-active-4,
    #checkmark-active-5,
    #checkmark-active-6 {
        position: relative;
        top: 6px;
        left: 4px;
    }
    
    .font {
        color: hsl(236, 33%, 92%);
        position: relative;
        left: 35px;
        bottom: 3px;
    }

    .app-list {
        position: relative;
        top: 90px;
        left: 330px;
    }

    .todo-1 {
        position: relative;
        left: 330px;
        top: 70px;
    }

    .todo-1,
    .todo-2 {
        background-color: hsl(237, 14%, 26%);
        width: 400px;
        
    }

    .todos {
        display: flex;
    }

    .greybox {
        background-color: hsl(237, 14%, 26%);
        width: 400px;
    }

    .x {
        position: relative;
        left: 100px;
        top: 7px;
        height: 25px;
    }

    .x-2 {
        position: relative;
        left: 180px;
        top: 7px;
        height: 25px;
    }

    .x-3 {
        position: relative;
        left: 185px;
        top: 7px;
        height: 25px;
    }

    .x-4 {
        position: relative;
        left: 230px;
        top: 7px;
        height: 25px;
    }

    .x-5 {
        position: relative;
        left: 216px;
        top: 7px;
        height: 25px;
    }

    .x-6 {
        position: relative;
        left: 59px;
        top: 7px;
        height: 25px;
    }

    #list-completion-1 {
        position: relative;
        left: 20px;
    }

    #list-completion-2 {
        position: relative;
        left: 160px;
    }

    .filter-bar {
        display: none;
    }

    .font-2 {
        font-size: 10px;
    }

    .new-filter-bar {
        display: flex;
        color: hsl(234, 11%, 52%);
        position: relative;
        left: 100px;
        font-size: 10px;
    }

    .new-filter-bar p {
        margin-right: 5px;
    }

    .drag-and-drop {
        position: relative;
        top: 100px;
        left: 460px;
        font-size: 24px;
    }
}


@media (min-width: 320px) and (max-width: 414px) {
    body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-mobile-dark.jpg') top left no-repeat;
        background-size: 100% auto;
        width: 360px;
        overflow-x: hidden;
    }

    h1 {
        color: white;
    }

    header {
        display: flex;
    }

    .sun {
        z-index: 999;
        position: relative;
        top: 10px;
        left: 13px;
    }

    .todo {
        letter-spacing: 10px;
    }


    /* Icon images (sun, moon) */
    .background-image {
        position: relative;
        left: -10px;
        z-index: 997;
        height: 10px;
        bottom: 100px;
    }

    /* font properties for todo list */
    .font {
        color: hsl(236, 33%, 92%);
        font-size: 12px;
        position: relative;
        left: 27px;
    }

    /* IDs to position paragraph elements correctly */
    #list-completion-1 {
        position: relative;
        left: 20px;
    }

    #list-completion-2 {
        position: relative;
        left: 85px;
    }

    /* X sign */
    .x {
        position: relative;
        top: 10px;
        right: -65px;
        height: 15px;
    }

    .x-2 {
        position: relative;
        right: -125px;
        top: 10px;
        height: 15px;
    }

    .x-3 {
        height: 15px;
        position: relative;
        top: 10px;
        right: -132px;
    }

    .x-4 {
        position: relative;
        top: 10px;
        right: -165px;
        height: 15px;
    }

    .x-5 {
        position: relative;
        top: 10px;
        right: -155px;
        height: 15px;
    }

    .x-6 {
        position: relative;
        top: 10px;
        right: -37px;
        height: 15px;
    }

    /* First checkbox */
    .container {
        width: 20px;
        height: 20px;
        background-color: hsl(237, 14%, 26%);
        border: 1px solid hsl(234, 11%, 52%);
        border-radius: 50%;
        position: relative;
        top: 10px;
        left: 20px;
    }

    .checkbox {
        visibility: hidden;
    }

    .todo-1 {
        display: flex;
        background-color: hsl(237, 14%, 26%);
        position: relative;
        bottom: -5px;
        left: 20px;
        z-index: 998;
        border-radius: 10%;
        width: 300px;
    }

    .todo-1 p {
        color: hsl(236, 33%, 92%);
        position: relative;
        left: 30px;
        font-size: 12px;
    }

    /* Format for app list */
    .todo-2 {
        display: flex;
        background-color: hsl(237, 14%, 26%);
        position: relative;
        top: 5px;
        left: 15px;
        border-radius: 5%;
    }

    .app-list {
        position: relative;
        bottom: -15px;
        z-index: 998;
        left: 5px;
        width: 300px;
    }

    /* Format for each app list item */
    .greybox {
        display: flex;
        background-color: hsl(237, 14%, 26%);
        position: relative;
        left: 15px;
    }

       /* Positioning for filter-bar */
    .filter-bar {
        position: relative;
        bottom: -30px;
        left: 20px;
        width: 300px;
    }

    .new-filter-bar {
        display: none;
    }

    /* Spacing between paragraph elements in filter-bar */
    .filter-bar p {
        margin-right: 7px;
        position: relative;
        left: 27%;
        font-size: 14px;
        cursor: pointer;
    }

    /* Positioning for drag-and-drop paragraph */
    .drag-and-drop {
        position: relative;
        top: 40px;
        left: 5px;
        padding-bottom: 20px;
        text-align: center;
    }

    /* active class for inserting checkmark and checkmark color*/
    .checkmark-blue {
        background: linear-gradient(45deg, rgba(192, 88, 243), rgba(87, 221, 255));
    }

    #checkmark-active-1 {
        position: relative;
        top: 5px;
        left: 4px;
    }

    #checkmark-active-2 {
        position: relative;
        top: 5px;
        left: 4px;
    }

    #checkmark-active-3 {
        position: relative;
        top: 5px;
        left: 4px;
    }

    #checkmark-active-4 {
        position: relative;
        top: 5px;
        left: 4px;
    }

    #checkmark-active-5 {
        position: relative;
        top: 5px;
        left: 4px;
    }

    #checkmark-active-6 {
        position: relative;
        top: 5px;
        left: 4px;
    }

    /* light theme */
    .theme-switch {
        background-image: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-sun.svg');
        background-repeat: no-repeat;
        position: relative;
        top: 27px;
        left: 150px;
        width: 32px;
    }

    .light .theme-switch {
        background-image: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-moon.svg');
        background-repeat: no-repeat;
        position: relative;
        top: 27px;
        left: 150px;
    }

    .light body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-mobile-light.jpg') no-repeat;
    }
}






