
html {
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(235, 21%, 11%);
}

.container {
    width: 20px;
    height: 20px;
    background-color: hsl(237, 14%, 26%);
    border: 1px solid hsl(234, 11%, 52%);
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 20px;
}

.checkmark-blue {
    background: linear-gradient(45deg, rgba(192, 88, 243), rgba(87, 221, 255));
}

.font-2,
.attribution {
    color: hsl(234, 11%, 52%);
    font-size: 16px;
}

a {
    color: hsl(220, 98%, 61%);
    text-decoration: none;
}

p {
    color: hsl(234, 11%, 52%);
}

html.light,
    .light .container,
    .light .todo-1,
    .light .todo-2,
    .light .greybox,
    .light .container,
    .light .add-todo,
    .light .todo-form,
    .light .close,
    .light .todo-controler {
        background-color: white;
    }

    .light .add-todo {
        color: black;
    }

@media (min-width: 1440px) and (max-width: 2000px) {
    html {
        font-family: 'Josefin Sans', sans-serif;
        background-color: hsl(235, 21%, 11%);
    }

    body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-desktop-dark.jpg') no-repeat;
        background-size: 100% auto;
        width: 2000px;
        height: 200px;
        font-weight: 500;
        line-height: 16px;
        overflow-x: hidden;
    }

    .todos {
        width: 100%;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 30px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    }

    /* Todo container */
    .todo-container {
        background-color: hsl(237, 14%, 26%);
    }

    .todo-container.completed .check-button {
        background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        border: none !important;
    }

    .todo-container.completed .check-button ~ .todo-text {
        text-decoration: line-through;
    }

    .todo-container.completed .check-button img {
        opacity: 100%;
    }

    .check-button {
        width: 18px;
        height: 18px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid hsl(236, 33%, 92%);
        margin-right: 20px;
        transition: border 0.2s;
        user-select: none;
    }

    .todo-text {
        background: transparent;
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: 0.02rem;
        border: none;
        outline: none;
        color: white;
    }

    .remove-todo {
        background-image: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-cross.svg') no-repeat;
        background-position: center;
        width: 60px;
        height: 55px;
        margin-left: 10px;
        cursor: pointer;
    }







    .todo-form {
        width: 600px;
        height: 50px;
        margin: 32px 0 20px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        background-color: hsl(237, 14%, 26%);
        color: white;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
        position: relative;
        top: 40px;
        left: 500px;
    }

    ul li::before {
        content: '';
    }
    
    .todo-form label,
    ul li::before {
        width: 18px;
        height: 18px;
        float: left;
        margin: auto 20px;
        border-radius: 50%;
        border: 1px solid hsl(236, 33%, 92%);
    }

    /* CSS effects on Todo task completed (checkmark & background color) */

    ul li::before,
    ul li.checked::before {
        margin: auto 20px;
        position: relative;
        bottom: 3px;
    }

    ul li.checked p {
        color: hsl(234, 39%, 85%);
        text-decoration: line-through;
    }

    ul li.checked::before {
        content: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-check.svg');
        line-height: 1.67;
        margin: 14px 20px;
        text-align: center;
        background-image: linear-gradient(180deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    }

    .todo-form label {
        width: 25px;
        height: 21px;
        padding-top: 1px;
    }

    .exes {
        position: relative;
        left: 6px;
        top: 1px;
    }

    ul li p {
        padding: 18px 0;
    }

    /* Why won't X go on other spans */
    ul li .close {
        padding: 10px 18px;
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-cross.svg') no-repeat;
        position: absolute;
        left: 550px;
        top: 50px;
    }

    .todo-controler {
        position: relative;
        left: 500px;
        top: 60px;
        height: 50px;
        width: 600px;
        background-color: hsl(237, 14%, 26%);
    }

    .todo-controler .todo-counter,
    .todo-controler .todo-clear {
        padding: 20px 20px 16px;
    }

    .todo-controler .todo-counter {
        float: left;
    }

    .todo-controler .todo-clear {
        float: right;
        cursor: pointer;
    }

    .todo-controler,
    #todo-filter,
    #todo>p {
        color: hsl(236, 9%, 61%);
    }

    #todo-filter {
        position: absolute;
        text-align: center;
        margin: -30px 0 0 170px;
        left: 520px;
        bottom: 525px;
    }
    
    #todo-filter span {
        margin: 0 8px;
        cursor: pointer;
    }
    
    .todo-filter span:hover,
    .todo-clear:hover,
    .todo-filter .active {
        color: hsl(220, 98%, 61%);
    }
    
    .active {
        color: hsl(220, 98%, 61%);
    }
    
    #todo>p {
        text-align: center;
        margin-top: 50px;
    }

    .todo-itemshow {
        transition: 0.2s;
    }

    /* styling for new task entered */
    ul li,
    .todo-list-class .todo-itemshow {
        cursor: pointer;
        transition: 0.2s;
        list-style: none;
        color: white;
        background-color: hsl(237, 14%, 26%);
        width: 600px;
        text-align: center;
        display: flex;
        position: relative;
        left: 460px;
    }

    ul li,
    .light .todo-list-class .todo-itemshow {
        background-color: white;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    }

    
    .add-todo {
        font-family: 'Josefin Sans';
        width: 100%;
        outline: none;
        border: none;
        border-radius: 5px;
        background: none;
        padding: 18px 20px 18px 0;
        color: white;
    }

    .light body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-desktop-light.jpg') no-repeat;
        background-size: 100% auto;
    }

    h1 {
        color: white;
        letter-spacing: 12px;
        font-size: 40px;
    }

    .sun {
        position: relative;
        left: 600px;
        top: 70px;
    }

    .darkimage {
        display: none;
    }

    .theme-switch {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-sun.svg') no-repeat;
        display: block;
        height: 30px;
        position: relative;
        left: 370px;
        bottom: 40px;
    }

    .light .theme-switch {
        background-image: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-moon.svg');
        background-repeat: no-repeat;
    }

    .drag-and-drop {
        position: relative;
        top: 80px;
        left: 690px;
    }

    .attribution {
        position: relative;
        top: 200px;
        left: 700px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-desktop-dark.jpg') top left no-repeat;
        background-size: 100% auto;
        width: 1024px;
        font-weight: 400;
        line-height: 16px;
    }

    .light body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-desktop-light.jpg') no-repeat;
        background-size: 100% auto;
    }

    h1 {
        letter-spacing: 10px;
        font-size: 36px;
    }

    .darkimage {
        display: none;
    }

    .theme-switch {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-sun.svg') no-repeat;
        display: block;
        height: 30px;
        position: relative;
        left: 370px;
        bottom: 40px;
    }

    .light .theme-switch {
        background-image: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-moon.svg');
        background-repeat: no-repeat;
        position: relative;
    }

    .sun {
        position: relative;
        left: 330px;
        top: 70px;
    }

    .theme-switch {
        width: 32px;
    }
    
    h1 {
        color: white;
    }
    

    .todos {
        display: flex;
    }
}


@media (min-width: 320px) and (max-width: 414px) {
    body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-mobile-dark.jpg') top left no-repeat;
        background-size: 100% auto;
        width: 360px;
        overflow-x: hidden;
    }

    h1 {
        color: white;
    }

    header {
        display: flex;
    }

    .sun {
        z-index: 999;
        position: relative;
        top: 10px;
        left: 13px;
    }

    .todo {
        letter-spacing: 10px;
    }


    /* Icon images (sun, moon) */
    .background-image {
        position: relative;
        left: -10px;
        z-index: 997;
        height: 10px;
        bottom: 100px;
    }

    /* Positioning for drag-and-drop paragraph */
    .drag-and-drop {
        position: relative;
        top: 40px;
        left: 5px;
        padding-bottom: 20px;
        text-align: center;
    }

    /* light theme */
    .theme-switch {
        background-image: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-sun.svg');
        background-repeat: no-repeat;
        position: relative;
        top: 27px;
        left: 150px;
        width: 32px;
    }

    .light .theme-switch {
        background-image: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/icon-moon.svg');
        background-repeat: no-repeat;
        position: relative;
        top: 27px;
        left: 150px;
    }

    .light body {
        background: url('/Users/l/Desktop/Frontendmentor.io/Todo App/todo-app-main/images/bg-mobile-light.jpg') no-repeat;
    }
}






